<nav class="navbar navbar-dark bg-dark">
  <nav class="navbar sticky-top bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand text-white">Shane's CRM</a>
      <!-- Add a dropdown button -->
      <button class="navbar-toggler" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Add a dropdown menu -->
      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbar-dropdown">
        <li><a class="dropdown-item" href="/leads">Swag</a></li>
        <li><a class="dropdown-item" href="#">Link 2</a></li>
        <li><a class="dropdown-item" href="#">Link 3</a></li>
      </ul>
    </div>
  </nav>
</nav>
